<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>zh_CN</string>
	<key>CFBundleDisplayName</key>
	<string>兴业移动门户</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>com.cib.$(PRODUCT_NAME:rfc1034identifier)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>2.1.2</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>prefs</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>60</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>wxf2c0c83042d0b222</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>MPushAppID</key>
	<string>56554cd42b8c6d286a00000a</string>
	<key>MPushAppKey</key>
	<string>d2c081d718cdcf02d71760cf41312cb0</string>
	<key>MPushConfig</key>
	<array>
		<dict>
			<key>MPushAppID_TestEnv</key>
			<string>5507b8a7301120d5400000d4</string>
			<key>MPushAppKey_TestEnv</key>
			<string>97dd9f3e56ddd998da2e228b9fdcc3ac</string>
			<key>PushServiceURL_TestEnv</key>
			<string>http://220.250.30.210:3000</string>
		</dict>
		<dict>
			<key>MPushAppID_ProdEnv</key>
			<string>56554cd42b8c6d286a00000a</string>
			<key>MPushAppKey_ProdEnv</key>
			<string>d2c081d718cdcf02d71760cf41312cb0</string>
			<key>PushServiceURL_ProdEnv</key>
			<string>http://61.129.93.233:3000</string>
		</dict>
	</array>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>请打开此选项以保证拍照功能的正常使用</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>为保证应用所有功能的正常使用，请打开此选项。</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>请打开此选项以保证相册功能的正常使用</string>
	<key>PushServiceURL</key>
	<string>http://61.129.93.233:3000</string>
	<key>TalkingDataKey_ProdEnv</key>
	<string>913CACE91C44900B9984D0951DDFBA24</string>
	<key>TalkingDataKey_TestEnv</key>
	<string>7626966751F9F27E3BE293DBED594658</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>remote-notification</string>
	</array>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleBlackTranslucent</string>
	<key>UIStatusBarTintParameters</key>
	<dict>
		<key>UINavigationBar</key>
		<dict>
			<key>Style</key>
			<string>UIBarStyleDefault</string>
			<key>Translucent</key>
			<false/>
		</dict>
	</dict>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
