<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ResourceFileInfo</key>
	<array>
		<dict>
			<key>url</key>
			<string>https://sea.cib.com.cn:448/news/assets/css/bootstrap.min.css</string>
			<key>fileName</key>
			<string>news_quota_bootstrap.min.css</string>
			<key>versionCode</key>
			<string>1</string>
			<key>mimeType</key>
			<string>text/css</string>
			<key>encodingType</key>
			<string>UTF-8</string>
		</dict>
		<dict>
			<key>url</key>
			<string>https://sea.cib.com.cn:448/news/assets/js/bootstrap.min.js</string>
			<key>fileName</key>
			<string>bootstrap.min.js</string>
			<key>versionCode</key>
			<string>1</string>
			<key>mimeType</key>
			<string>text/javascript</string>
			<key>encodingType</key>
			<string>UTF-8</string>
		</dict>
		<dict>
			<key>url</key>
			<string>https://sea.cib.com.cn:448/news/assets/js/jquery.min.js</string>
			<key>fileName</key>
			<string>jquery.min.js</string>
			<key>versionCode</key>
			<string>1</string>
			<key>mimeType</key>
			<string>text/javascript</string>
			<key>encodingType</key>
			<string>UTF-8</string>
		</dict>
		<dict>
			<key>url</key>
			<string>https://sea.cib.com.cn:448/news/assets/bootstrap_datetimepicker/bootstrap-datepicker.js</string>
			<key>fileName</key>
			<string>bootstrap-datepicker.js</string>
			<key>versionCode</key>
			<string>1</string>
			<key>mimeType</key>
			<string>text/javascript</string>
			<key>encodingType</key>
			<string>UTF-8</string>
		</dict>
		<dict>
			<key>url</key>
			<string>https://sea.cib.com.cn:448/news/assets/bootstrap_datetimepicker/datepicker.css</string>
			<key>fileName</key>
			<string>datepicker.css</string>
			<key>versionCode</key>
			<string>1</string>
			<key>mimeType</key>
			<string>text/css</string>
			<key>encodingType</key>
			<string>UTF-8</string>
		</dict>
		<dict>
			<key>url</key>
			<string>https://sea.cib.com.cn:448/appnews/touch/resources/css/sencha-touch.css</string>
			<key>fileName</key>
			<string>sencha-touch.css</string>
			<key>versionCode</key>
			<string>1</string>
			<key>mimeType</key>
			<string>text/css</string>
			<key>encodingType</key>
			<string>UTF-8</string>
		</dict>
		<dict>
			<key>url</key>
			<string>https://sea.cib.com.cn:448/appnews/touch/sencha-touch.js</string>
			<key>fileName</key>
			<string>sencha-touch.js</string>
			<key>versionCode</key>
			<string>1</string>
			<key>mimeType</key>
			<string>text/javascript</string>
			<key>encodingType</key>
			<string>UTF-8</string>
		</dict>
		<dict>
			<key>url</key>
			<string>https://sea.cib.com.cn:448/quota/assets/js/bootstrap.min.js</string>
			<key>fileName</key>
			<string>bootstrap.min.js</string>
			<key>versionCode</key>
			<string>1</string>
			<key>mimeType</key>
			<string>text/javascript</string>
			<key>encodingType</key>
			<string>UTF-8</string>
		</dict>
		<dict>
			<key>url</key>
			<string>https://sea.cib.com.cn:448/quota/assets/bootstrap_datetimepicker/bootstrap-datepicker.js</string>
			<key>fileName</key>
			<string>bootstrap-datepicker.js</string>
			<key>versionCode</key>
			<string>1</string>
			<key>mimeType</key>
			<string>text/javascript</string>
			<key>encodingType</key>
			<string>UTF-8</string>
		</dict>
		<dict>
			<key>url</key>
			<string>https://sea.cib.com.cn:448/quota/assets/js/jquery.min.js</string>
			<key>fileName</key>
			<string>jquery.min.js</string>
			<key>versionCode</key>
			<string>1</string>
			<key>mimeType</key>
			<string>text/javascript</string>
			<key>encodingType</key>
			<string>UTF-8</string>
		</dict>
		<dict>
			<key>url</key>
			<string>https://sea.cib.com.cn:448/quota/echarts/echarts.js</string>
			<key>fileName</key>
			<string>echarts.js</string>
			<key>versionCode</key>
			<string>1</string>
			<key>mimeType</key>
			<string>text/javascript</string>
			<key>encodingType</key>
			<string>UTF-8</string>
		</dict>
		<dict>
			<key>url</key>
			<string>https://sea.cib.com.cn:448/quota/echarts/config.js</string>
			<key>fileName</key>
			<string>config.js</string>
			<key>versionCode</key>
			<string>1</string>
			<key>mimeType</key>
			<string>text/javascript</string>
			<key>encodingType</key>
			<string>UTF-8</string>
		</dict>
		<dict>
			<key>url</key>
			<string>https://sea.cib.com.cn:448/quota/assets/css/bootstrap.min.css</string>
			<key>fileName</key>
			<string>news_quota_bootstrap.min.css</string>
			<key>versionCode</key>
			<string>1</string>
			<key>mimeType</key>
			<string>text/css</string>
			<key>encodingType</key>
			<string>UTF-8</string>
		</dict>
		<dict>
			<key>url</key>
			<string>https://sea.cib.com.cn:448/quota/assets/css/bootstrap-theme.min.css</string>
			<key>fileName</key>
			<string>bootstrap-theme.min.css</string>
			<key>versionCode</key>
			<string>1</string>
			<key>mimeType</key>
			<string>text/css</string>
			<key>encodingType</key>
			<string>UTF-8</string>
		</dict>
		<dict>
			<key>url</key>
			<string>https://sea.cib.com.cn:448/quota/assets/bootstrap_datetimepicker/datepicker.css</string>
			<key>fileName</key>
			<string>datepicker.css</string>
			<key>versionCode</key>
			<string>1</string>
			<key>mimeType</key>
			<string>text/css</string>
			<key>encodingType</key>
			<string>UTF-8</string>
		</dict>
		<dict>
			<key>url</key>
			<string>https://sea.cib.com.cn/quota2/touch/resources/css/sencha-touch.css</string>
			<key>fileName</key>
			<string>sencha-touch.css</string>
			<key>versionCode</key>
			<string>1</string>
			<key>mimeType</key>
			<string>text/css</string>
			<key>encodingType</key>
			<string>UTF-8</string>
		</dict>
		<dict>
			<key>url</key>
			<string>https://sea.cib.com.cn/quota2/touch/sencha-touch.js</string>
			<key>fileName</key>
			<string>sencha-touch.js</string>
			<key>versionCode</key>
			<string>1</string>
			<key>mimeType</key>
			<string>text/javascript</string>
			<key>encodingType</key>
			<string>UTF-8</string>
		</dict>
		<dict>
			<key>url</key>
			<string>https://sea.cib.com.cn/quota2/touch/touch-charts.js</string>
			<key>fileName</key>
			<string>touch-charts.js</string>
			<key>versionCode</key>
			<string>1</string>
			<key>mimeType</key>
			<string>text/javascript</string>
			<key>encodingType</key>
			<string>UTF-8</string>
		</dict>
		<dict>
			<key>url</key>
			<string>https://sea.cib.com.cn/quota2/echarts/config.js</string>
			<key>fileName</key>
			<string>config.js</string>
			<key>versionCode</key>
			<string>1</string>
			<key>mimeType</key>
			<string>text/javascript</string>
			<key>encodingType</key>
			<string>UTF-8</string>
		</dict>
		<dict>
			<key>url</key>
			<string>https://sea.cib.com.cn/quota2/echarts/echarts.js</string>
			<key>fileName</key>
			<string>echarts.js</string>
			<key>versionCode</key>
			<string>1</string>
			<key>mimeType</key>
			<string>text/javascript</string>
			<key>encodingType</key>
			<string>UTF-8</string>
		</dict>
		<dict>
			<key>url</key>
			<string>https://sea.cib.com.cn/quota2/echarts/chart/gauge.js</string>
			<key>fileName</key>
			<string>gauge.js</string>
			<key>versionCode</key>
			<string>1</string>
			<key>mimeType</key>
			<string>text/javascript</string>
			<key>encodingType</key>
			<string>UTF-8</string>
		</dict>
		<dict>
			<key>url</key>
			<string>https://sea.cib.com.cn/quota2/resources/css/app.css</string>
			<key>fileName</key>
			<string>quota2_app.css</string>
			<key>versionCode</key>
			<string>1</string>
			<key>mimeType</key>
			<string>text/css</string>
			<key>encodingType</key>
			<string>UTF-8</string>
		</dict>
		<dict>
			<key>url</key>
			<string>https://sea.cib.com.cn/quota2/resources/css/loader.css</string>
			<key>fileName</key>
			<string>quota2_loader.css</string>
			<key>versionCode</key>
			<string>1</string>
			<key>mimeType</key>
			<string>text/css</string>
			<key>encodingType</key>
			<string>UTF-8</string>
		</dict>
		<dict>
			<key>url</key>
			<string>https://sea.cib.com.cn/quota2/app.js</string>
			<key>fileName</key>
			<string>quota2_app.js</string>
			<key>versionCode</key>
			<string>1</string>
			<key>mimeType</key>
			<string>text/javascript</string>
			<key>encodingType</key>
			<string>UTF-8</string>
		</dict>
		<dict>
			<key>url</key>
			<string>https://sea.cib.com.cn:448/task/assets/js/jquery.min.js?v=1</string>
			<key>fileName</key>
			<string>jquery.min.js</string>
			<key>versionCode</key>
			<string>1</string>
			<key>mimeType</key>
			<string>text/javascript</string>
			<key>encodingType</key>
			<string>UTF-8</string>
		</dict>
		<dict>
			<key>url</key>
			<string>https://sea.cib.com.cn:448/task/assets/js/bootstrap.min.js?v=1</string>
			<key>fileName</key>
			<string>bootstrap.min.js</string>
			<key>versionCode</key>
			<string>1</string>
			<key>mimeType</key>
			<string>text/javascript</string>
			<key>encodingType</key>
			<string>UTF-8</string>
		</dict>
		<dict>
			<key>url</key>
			<string>https://sea.cib.com.cn:448/task/assets/js/jquery.cookie.js?v=1</string>
			<key>fileName</key>
			<string>jquery.cookie.js</string>
			<key>versionCode</key>
			<string>1</string>
			<key>mimeType</key>
			<string>text/javascript</string>
			<key>encodingType</key>
			<string>UTF-8</string>
		</dict>
		<dict>
			<key>url</key>
			<string>https://sea.cib.com.cn:448/task/app/js/jquery.textSearch-1.0.js?v=1</string>
			<key>fileName</key>
			<string>jquery.textSearch-1.0.js</string>
			<key>versionCode</key>
			<string>1</string>
			<key>mimeType</key>
			<string>text/javascript</string>
			<key>encodingType</key>
			<string>UTF-8</string>
		</dict>
		<dict>
			<key>url</key>
			<string>https://sea.cib.com.cn:448/task/app/js/Modal.js?v=1</string>
			<key>fileName</key>
			<string>Modal.js</string>
			<key>versionCode</key>
			<string>1</string>
			<key>mimeType</key>
			<string>text/javascript</string>
			<key>encodingType</key>
			<string>UTF-8</string>
		</dict>
		<dict>
			<key>url</key>
			<string>https://sea.cib.com.cn:448/task/assets/css/bootstrap.min.css</string>
			<key>fileName</key>
			<string>task_bootstrap.min.css</string>
			<key>versionCode</key>
			<string>1</string>
			<key>mimeType</key>
			<string>text/css</string>
			<key>encodingType</key>
			<string>UTF-8</string>
		</dict>
		<dict>
			<key>url</key>
			<string>https://sea.cib.com.cn/task2/app.js</string>
			<key>fileName</key>
			<string>task2_app.js</string>
			<key>versionCode</key>
			<string>1</string>
			<key>mimeType</key>
			<string>text/javascript</string>
			<key>encodingType</key>
			<string>UTF-8</string>
		</dict>
		<dict>
			<key>url</key>
			<string>https://sea.cib.com.cn/task2/resources/css/app.css</string>
			<key>fileName</key>
			<string>app.css</string>
			<key>versionCode</key>
			<string>1</string>
			<key>mimeType</key>
			<string>text/css</string>
			<key>encodingType</key>
			<string>UTF-8</string>
		</dict>
		<dict>
			<key>url</key>
			<string>https://sea.cib.com.cn/task2/resources/css/loader.css</string>
			<key>fileName</key>
			<string>loader.css</string>
			<key>versionCode</key>
			<string>1</string>
			<key>mimeType</key>
			<string>text/css</string>
			<key>encodingType</key>
			<string>UTF-8</string>
		</dict>
		<dict>
			<key>url</key>
			<string>http://139.219.136.213/chat/css/global/allinone.min.css</string>
			<key>fileName</key>
			<string>chat_allinone.min.css</string>
			<key>versionCode</key>
			<string>1</string>
			<key>mimeType</key>
			<string>text/css</string>
			<key>encodingType</key>
			<string>UTF-8</string>
		</dict>
		<dict>
			<key>url</key>
			<string>http://139.219.136.213/chat/js/global/allinone.min.js</string>
			<key>fileName</key>
			<string>chat_allinone.min.js</string>
			<key>versionCode</key>
			<string>1</string>
			<key>mimeType</key>
			<string>text/javascript</string>
			<key>encodingType</key>
			<string>UTF-8</string>
		</dict>
		<dict>
			<key>url</key>
			<string>https://sea.cib.com.cn:448/contact/css/global/allinone.min.css</string>
			<key>fileName</key>
			<string>contact_allinone.min.css</string>
			<key>versionCode</key>
			<string>1</string>
			<key>mimeType</key>
			<string>text/css</string>
			<key>encodingType</key>
			<string>UTF-8</string>
		</dict>
		<dict>
			<key>url</key>
			<string>https://sea.cib.com.cn:448/contact/js/global/allinone.min.js</string>
			<key>fileName</key>
			<string>contact_allinone.min.js</string>
			<key>versionCode</key>
			<string>1</string>
			<key>mimeType</key>
			<string>text/javascript</string>
			<key>encodingType</key>
			<string>UTF-8</string>
		</dict>
		<dict>
			<key>url</key>
			<string>http://139.219.136.213/quotation/app.js </string>
			<key>fileName</key>
			<string>quotation_app.js</string>
			<key>versionCode</key>
			<string>1</string>
			<key>mimeType</key>
			<string>text/javascript</string>
			<key>encodingType</key>
			<string>UTF-8</string>
		</dict>
		<dict>
			<key>url</key>
			<string>http://139.219.136.213/quotation/resources/css/app.css </string>
			<key>fileName</key>
			<string>quotation_app.css</string>
			<key>versionCode</key>
			<string>1</string>
			<key>mimeType</key>
			<string>text/css</string>
			<key>encodingType</key>
			<string>UTF-8</string>
		</dict>
	</array>
</dict>
</plist>
